body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.white {
  width: 25%;
  height: 50%;
  display: flex;
  border: 1px solid black;
}
